/*Background Scrolling effect*/
@-webkit-keyframes scroll{
	100%{
	  background-position:0px -3000px;
	}
  }
  
  @-moz-keyframes scroll{
	100%{
	  background-position:0px -3000px;
	}
  }
  
  @-o-keyframes scroll{
	100%{
	  background-position:0px -3000px;
	}
  }
  
  @-ms-keyframes scroll{
	100%{
	  background-position:0px -3000px;
	}
  }
  
  @keyframes scroll{
	100%{
	  background-position:0px -3000px;
  }
  
  }

.grid-container {
    display: grid;
    position: relative;
    background-color: #7e857711;
    top: 10%;
    left: 10%;
    width: 70%;
    height: 50%;
    padding: 7%;
    padding-left: 0%;
    padding-top:10%;
    grid-template-columns: 30% 30% 30%;		
    grid-template-rows: auto;
    grid-column-gap: 15px;
    align-items: stretch;		
}

.item-A {
    display:none;
    position: relative;
    padding: 0%;
    padding-bottom: 20%;
    border-width: 0 1px 1px 0;
    box-shadow: 0 1px 1px rgb(0, 0, 0) inset; 
    border: none 1% transparent; 
    bottom: 100px;
    left: 10%;
    height: 0%;
    width: 0%;
    background-color: transparent;
}
  
.LoadMore {
    opacity: 0.2;
    display: inline;
    position: relative;
    padding: 2px;
    padding-right: 3%;
    left: 38%;
    color: rgb(255, 255, 255);    
    border-width: 0 1px 1px 0;
    border-style: groove;
color: black;
    border-radius: 11px;
    box-shadow: 0 1px 1px #ccc;
		
}
/*/
.LoadMore{
  -webkit-animation:10s scroll infinite linear;
		-moz-animation:10s scroll infinite linear;
		-o-animation:10s scroll infinite linear;
		-ms-animation:10s scroll infinite linear;
		animation:10s scroll infinite linear;
}
/**/
.LoadMore{
  cursor: pointer;
  transform-style: preserve-3d;
}


.LoadMore:hover {
    opacity: 1;
    text-decoration: underline;    
    color: rgb(255, 255, 255);
}
