/*Background Scrolling effect*/
@-webkit-keyframes scroll{
	100%{
	  background-position:0px -3000px;
	}
  }
  
  @-moz-keyframes scroll{
	100%{
	  background-position:0px -3000px;
	}
  }
  
  @-o-keyframes scroll{
	100%{
	  background-position:0px -3000px;
	}
  }
  
  @-ms-keyframes scroll{
	100%{
	  background-position:0px -3000px;
	}
  }
  
  @keyframes scroll{
	100%{
	  background-position:0px -3000px;
	}
  }
  /*Scrolling background8*/

/*TRACKS YOU LIKE HEADER ANIMATION MEDIA--minimised*/

/* Chrome, Safari, Opera */
@-webkit-keyframes heademover {
	100%
	{border-width: thin 20px thin thin ;}

	5%
	{border-width: thin 20px thin thin ;}
	
}

/* Standard syntax */
@keyframes heademover {
	100% 
	{border-width: thin 20px thin thin ;}

	5%
	{border-width: thin 20px thin thin ;}
	
}

.body{
	height: 100%;
	margin: 0;
}

#space1 {
	z-index: -1;
	background:  url(Images/IssaSpace.gif) repeat  fixed;
	background-size: 40%;
	overflow-x: hidden;
	 background-attachment: fixed;
	border-color: transparent;
	
}

#space1:hover{
	opacity: 1;
	
}	

	/*Container Fluid setup*/
	#Containerfluidone {
		z-index: 1;
		padding: 0;
		margin: 0%;
		list-style: none;
		display: flex;		
		align-items: center; 
		align-self: center;		
		justify-content:flex-start;	
	  }
	  
	/*JUMBOTRON*/
#Jumbouno{
	margin: 50px;
	background-size: cover;
	background-color: transparent;
	border-style: none;
	display: inline-flex;
	position: relative;
	left: 300px;
	height:24%;
	width: 50%;
	background: url(Images/dust_scratches.png)repeat;		
	background-size: 100%;	
	
}		

    h1 {
		  display: inline-flex;
		position: relative;
		bottom: 55px;
		right: 30px;
		width: 50%;
		height: 100%;
		border-style:groove;
		border-width:thin thin thin  40px;
		background-color: #47a6b323;
		
	}

	h1:hover {
		-webkit-animation: heademover 3s infinite; /* Chrome, Safari, Opera */
		animation: heademover 3s infinite;
	}

/*JUMBO COLORS ARE ALMOST UNVISIBLE*/
	#Jumboduos{ 
		padding-bottom: 0%;
		padding-top: 10%;
    top: 50px;
		position: relative;
		right: 40%;
		border-radius: 1px;
		box-shadow: 0px 0px 0px 0px #eee7e70c;      
		background-color: transparent;
		
		
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
	}

	#Jumboduos:hover{
		box-shadow: 0px 0px 0px 8px #e6dcdc36;   
		cursor:pointer;
    
	}

	  #BUTTHEAD{
		display: inline;
		position: relative;
		top: 10px;
		right: 60px;
		color:#a147b3cc ;
		background-color: transparent;

	}

	Marquee{	
		z-index: 1;
				display: inline-flex;
				position: relative;
				font-weight: bolder;
				padding-top: 5px;
				top: 100px;
				right: 300px;
				width: 39em;
				height: 3%;
				background-color: rgba(208, 217, 224, 0.527);
			}
				  
			 #Space2{
				z-index: -1;
				overflow-x: hidden;
				margin: 0px;
				background-size: cover;
				background-color: transparent;
				background-attachment: fixed;
				background-position: center;
				background-size: cover;		
				border-style: none;
				display: inline-flex;
				position: relative;
				left: 0px;
				height:15%;
				width: 100%;
			}	  
			#space2{
      	background: url(Images/darkness.png)repeat;		
				background-size: 100%;	
		    align-self: center;		
				justify-content:flex-start;

	transition: all 1s ease;
	-webkit-animation:200s scroll infinite linear;
	-moz-animation:200s scroll infinite linear;
	-o-animation:200s scroll infinite linear;
	-ms-animation:200s scroll infinite linear;
	animation:200s scroll infinite linear;

			}
/*END OF FIRST TWO MUSIC COLUMNS*/
	