/*SCROLLBAR--minimised*/

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 238, 255, 0.267); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.829); 
}


/* Responsive --minimised*/

	@media (max-width: 767px) {
		.navbar-default .navbar-nav .open .dropdown-menu>li>a {
			color: #fffefe;
		}
		.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
			color: #000000;
		}
		.navbar-default .navbar-nav .open .dropdown-menu>.active>a, .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
			color: #000000;
			background-color: #e4f6ac;
		}
	}

/*NAV BAR COLOR DaNCE ANIMATION--minimised*/
	@-webkit-keyframes colorchange {
		0%	 {
			
			color: #2d2f31;
		}
		
		50% {
			
			color: #b8c0c7;
		}
			50% {
        
        color: #2d2f31;
      }
      
		}
	@media (max-width: 600px) {
		.footer-distributed .footer-left, .footer-distributed .footer-right {
			text-align: center;
		}
		.footer-distributed .footer-right {
			float: none;
			margin: 0 auto 20px;
		}
		.footer-distributed .footer-left p.footer-links {
			line-height: 1.8;
		}
	}

	/*  GO FULL WIDTH BELOW 480 PIXELS */
	@media only screen and (max-width: 480px) {
		.col {  margin: 1% 0 1% 0%; }
		.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
	}

/*TRACKS YOU LIKE HEADER ANIMATION MEDIA--minimised*/

/* Chrome, Safari, Opera */
@-webkit-keyframes heademover {
	100%
	{border-width: thin 20px thin thin ;}

	5%
	{border-width: thin 20px thin thin ;}
	
}

/* Standard syntax */
@keyframes heademover {
	100% 
	{border-width: thin 20px thin thin ;}

	5%
	{border-width: thin 20px thin thin ;}
	
}





	body {
		overflow-x: hidden;
	}

	.navbar-default {
		background-color: #00000044;
		border-color: #e4f6ac;
	}
	.navbar-default .navbar-brand {
		-webkit-animation:colorchange 3s infinite alternate;
	}
	
	.navbar-default .navbar-brand {	
		font-size: 30px;
		font-family: 'Contrail One', cursive;
		color: #fffefe;
		position: absolute;
		left: 40%;
		text-align: center;
		margin: 0 auto;
		letter-spacing: 5px;					
		
	}


	.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
		color: #000000;
	}

	.navbar-default .navbar-text {
		font-family: 'PT Mono', monospace;
		color: #fffefe;
	}

	.navbar-default .navbar-nav>li>a {
		color: #fffefe;
	}

    .navbar-right {
		font-size: 20px;
		font-family: 'PT Mono', monospace;
		position: relative;
		right: 66%;
		text-align: center;
		margin: 0 auto;
	}

	.form-control {
		top: 1%;
		position: fixed;
		left: 60%;
		text-align: center;
		margin: 0 auto;
		letter-spacing: 5px;			
		opacity: 0.5;
		text-align:left;
		font-size: 30px;
		text-decoration: underline;
		font-family: 'Contrail One', cursive;
		}


	


/* Disabled at the moment *
	.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
		-or: #000000;
	}

	.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
		color: #000000;
		background-color: #e4f6ac;
	}

	.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
		color: #000000;
		background-color: #e4f6ac;
	}
/*nothing to see here*/

	.navbar-default .navbar-toggle {
		border-color: #e4f6ac;
	}

	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: #e4f6ac;
	}

	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fffefe;
	}
	/*ENd of Navbar */


	/*Container Fluid setup*/
	.container-fluid {
		padding: 0;
		margin: 0%;
		list-style: none;

	  }
	  .container-fluid{ 
		display: flex;		
		align-items: center; 
		align-self: center;		
		justify-content:flex-start;		
	  }
	  
	/*JUMBOTRON*/
.jumbotron{
	background-size: cover;
	background-color: #55b8c511;
		background-repeat: no-repeat;
	display: initial;
	position: relative;
	left: 20px;
	height: 20px;
	width: 20%;
}		

#jumbobutt{
position: relative;
text-align: right;
margin: 0 auto;
top: 40px;
}	
	  
	  h1{
		display: flex;
		position: absolute;
		bottom: 5%;
		left: 0px;
		border-style:solid;
		border-width:thin thin thin  20px;
		background-color: #47a6b33f;
	}
	h1:hover{
		-webkit-animation: heademover 3s infinite; /* Chrome, Safari, Opera */
		animation: heademover 3s infinite;
	}

	  #BUTTHEAD{
		display: initial;
		position: relative;
		bottom: 30px;
		right: 50px;
		color: rgba(179, 162, 81, 0.507);
		background-color: transparent;
	}

	#CARROT{
		color: #ff0000;	
		position: relative;
		left: 200px;	
			border-width:10px;
	
	}
	/*  COLUMN SETUP  */
	#FLEXTHIS{
		flex-wrap: wrap;		
		padding: 0;
		margin: 0;
		list-style: none;
		border-width: 0 2px 2px 0;
		background-color: #ad8b8b3f;
		
	  }
	  #wrapfirst { 
		display: flex;		
		align-items: stretch; 
		align-self: flex-start;		
		-ms-box-orient: horizontal;
		justify-content: center;
	  }

	  p {
		position: relative;
		top: 100px;
	   }	  
				 
	   p4 {
		position: relative;
		top: 100px;
	   }	

	   	  
	/*  COLUMN SETUP  */
	#FLEX{
		flex-wrap: wrap;
		top: 500px;
		right: 930px;
		position: relative;		
		padding: 0;
		margin: 0;
		list-style: none;
		border-width: 0 2px 2px 0;
		background-color: #ad8b8b3f;
	  }
	 #wrapflex { 
		display: flex;		
		align-items: baseline; 
		align-self: flex-start;		
		-ms-box-orient: horizontal;
		justify-content: center;
	  }
	  p7 {
		position: relative;
        bottom: 100px
	   }	  
				 
	   p8 {
		position: relative;
		bottom: 100px
		
	   }	
/*END OF FIRST TWO MUSIC COLUMNS*/
	
	footer {
		position: fixed;
		bottom: 0;
		left: 100px;
	}

	.footer-distributed {
		background-color: #b8c0c7;
		box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
		box-sizing: border-box;
		height: 115px;
		width: 40%;
		text-align: left;
		padding: 10px 100px;
		margin-top: 80px;
	}

	.footer-right {
		position: relative;		
		float: right;
		bottom: 20px;
		right: 33px;		
	}

	.footer-right a {
		display: inline-block;
		width: 1px;
		height: 50px;
		background-color: transparent;
		border-radius: px;
		font-size: 23px;
		color: #ffffff;
		text-align: right;
		line-height: 0px;
		margin: 20px;

	}

	.footer-center {
		display: inline-flex;		
		color: #000000;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	h3{
		position: fixed;
		bottom: 60px;
		left: 30%;
		color: #ffffff;
		font-family: 'Bungee', cursive;
		margin: 0;
		color: #000000;
		border-style:solid;
		border-width:thin thin thin  20px;
		background-color: #47a6b33f;
	}
	h3:hover{
		-webkit-animation: heademover 3s infinite; /* Chrome, Safari, Opera */
		animation: heademover 3s infinite;
	}

	span{
		display: inline;
		font-family: 'Bungee', cursive;
		font-size: 27px;
		margin: 8px;
		color: #5383d3;
	}

	.footer-trans-btn p1{
		position: relative;		
		float: left;
		top: 20px;
		color: rgb(0, 0, 0);
		font-family: 'Berkshire Swash', cursive;
		font-size: 19px;
		text-decoration: underline;
		border: 1px solid #bebebe85;
		border-radius: 9px;
		text-transform: uppercase;
		-webkit-transition: background-color 1s ease-out;
		-moz-transition: background-color 1s ease-out;
		-o-transition: background-color 1s ease-out;
		transition: background-color 1s ease-out;
	}

	.footer-trans-btn p1:hover {
		background-color: #818b94;
		cursor: pointer;
	}

	.footer-company-about {
		position: relative;		
		float: left;
		top: 69px;
		right: 47%;			
		font-size: 20px;
		font-weight: normal;
	
	}


	

	
	