/*Background Scrolling effect*/
@-webkit-keyframes scroll{
	100%{
	  background-position:0px -3000px;
	}
  }
  
  @-moz-keyframes scroll{
	100%{
	  background-position:0px -3000px;
	}
  }
  
  @-o-keyframes scroll{
	100%{
	  background-position:0px -3000px;
	}
  }
  
  @-ms-keyframes scroll{
	100%{
	  background-position:0px -3000px;
	}
  }
  
  @keyframes scroll{
	100%{
	  background-position:0px -3000px;
	}
  }


.grid-container {
    background-color: #00dbf8d7;
    width: 100%;
    display: grid;
    background-color:transparent;
    padding: 10px;
    padding-left: 20%;
    padding-bottom: 2%;
    grid-template-columns: 30% 30% 30%;		
    grid-template-rows: auto;
    grid-column-gap: 15px;
    align-items: stretch;		
}



#Item-A {
    display:none;
    padding: 1px;
    border-width: 0 1px 1px 0;
    box-shadow: 0 1px 1px rgb(0, 0, 0) inset; 
    border: none 1px #e6e6e6; 
    height: 250px;
    width: 250px;
    background-color: transparent;
    transition: transform .5s ease-out;
}

     /*Load more Button*/
.LoadMore {
    opacity: 0.2;
    display: inline;
    position: relative;
    padding: 7px;
    padding-right: 50px;
    top: 20px;
    left: 38%;
    color: rgb(255, 255, 255);    
    border-width: 0 1px 1px 0;
    border-style: groove;
    border-color: #fff;
    border-radius: 11px;
    box-shadow: 0 1px 1px #ccc;
    background:url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/footer_lodyas.png);
		-webkit-animation:10s scroll infinite linear;
		-moz-animation:10s scroll infinite linear;
		-o-animation:10s scroll infinite linear;
		-ms-animation:10s scroll infinite linear;
		animation:10s scroll infinite linear;
}

.LoadMore:hover {
    opacity: 1;
    text-decoration: underline;    
    color: rgb(255, 255, 255);
}
