  
  
  .navbar-collapse {
    
    background-color: #bbdabbad;
    border-color: transparent;
    transition: all 1s ease;
}
.navbar-collapse:hover{
background-color: #000000e8
}

#pin{
	font-family: 'Bungee', cursive;
    position: relative;
    float: left;
    outline: none;
    right: 100em;
    margin: 0 auto;}


#PIN :hover{
    background-color:rgba(228, 19, 19, 0.603) 
}

a{
    color: rgb(67, 68, 100);
}

a:hover{
    color: white;
}