


.sidenav {
    position: absolute;
    font-family: 'Contrail One', cursive;
    z-index: -1;
    height: 34%;
    width:7%;
    z-index: 1;
    top: 10.20%;
    left: 7%;
    background-color: rgba(91, 9, 158, 0.123);
    overflow-x: hidden;
    padding-top: 20px;

        animation-duration: 3s;
        animation-delay: 2s;
        animation-iteration-count:none;
      }

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
}

.sidenav a:hover {
    color: #ffffff;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}